{
    "plugins": [
        "requirejs"
    ],
    "extends": [
        "plugin:requirejs/recommended",
        "eslint-config-airbnb-base"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "amd": true
    },
    "globals": {
        "requirejs": false
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "indent": ["error", 4],
        "quotes": ["warn", "double"],
        "linebreak-style": ["warn", "windows"],
        "no-console": 0
    }
}